.App {
  
  text-align: center;
  background-color: oldlace;
  font-family: 'Roboto';
}

.loading {
  color: navy;
  padding: 8px;
  margin: 10px;
}

.selection{
  display:flex;
  justify-content:center;
  align-items: baseline;
  flex-wrap: wrap;
  
 
}
@media screen and (max-width: 600px) { 
  .selection{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
 }

